@media only screen and (max-width:800px) {
  .col-1 {
    width: 33.33%;
  }
  .col-2 {
    width: 33.33%;
  }
  .masonry-container .col-2 {
    width: 50%;
    /*width: 25%;*/
  }
  .col-3 {
    width: 50%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .row .col-4 ~ .col-2 {
    width: 100%;
  }
  .row .col-5 ~ .col-1 {
    width: 100%;
  }
}
@media only screen and (max-width:1280px) {
  .col-2, .grid-sizer {
    width: 33.333%;
  }
  .footer-container .col-2 {
    width: 33.333%;
  }
  .masonry-container .col-2 {
    width: 50%;
    /*width: 25%;*/
  }
}
@media only screen and (max-width:768px) {
  .col-2, .grid-sizer {
    width: 50%;
  }
  .footer-container .col-2 {
    width: 33.333%;
  }
  .masonry-container .col-2 {
    width: 50%;
    /*width: 25%;*/
  }
  .home-sidebar .col-2{
    width: 100%;
  }
}
@media only screen and (max-width:40em) {
  .col-1, .col-2, .footer-container .col-2, .col-3, .col-4, .col-5, .col-6,.masonry-container .col-2 {
    width: 100%;
  }
  #main-slider {
    background-position: center center !important;
  }
  .comments-container{
    max-width: 100% !important;
  }
}
